﻿body {  
  padding: 0;
  margin: 0;
}

#grid {
  border: 1px solid black;
}

.state_label {
  font-weight: bold;
}

.state_text {
  font-weight: normal;
}

.CC-none {
  background: #eeeeee url(images/ui-bg_highlight-soft_80_eeeeee_1x100.png) 50% top repeat-x;  
  color: #2e7db2;
}

.CC-default {
  background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
	color: #eeeeee;
}

.CC-merging {
  background: #f58400 url(images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
  color: #ffffff;
}

.Western {
  background: #555555 url(images/ui-bg_glass_60_cc1122_1x400.png) 50% 50% repeat-x !important;
}

.Holiday {
  background: #555555 url(images/ui-bg_glass_50_f05500_1x400.png) 50% 50% repeat-x !important;
}

.Sheraton {
  background: #555555 url(images/ui-bg_glass_60_ffcc11_1x400.png) 50% 50% repeat-x !important;
}

.Hyatt {
  background: #555555 url(images/ui-bg_glass_45_3ac23a_1x400.png) 50% 50% repeat-x !important;
}

.Fairmont {
  background: #555555 url(images/ui-bg_glass_40_186fcf_1x400.png) 50% 50% repeat-x !important;
}

.Marriott {
  background: #555555 url(images/ui-bg_glass_40_570c99_1x400.png) 50% 50% repeat-x !important;
}

.Ritz {
  background: #555555 url(images/ui-bg_glass_40_d12bc3_1x400.png) 50% 50% repeat-x !important;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.jqbutton.highlighted {
  border: 5px solid yellow;
}

.money-text {
  font-size: larger;
  font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
  padding-left: 0.2em;
}

.scroll-div {
  overflow: auto;
  height: 100px;
  width: 500px;
}

#swap-tiles {
  background: #555555 url(images/ui-bg_glass_60_cc1122_1x400.png) 50% 50% repeat-x !important;
}