<div class="wrapper">
  <div id="buyer-dialog" title="Purchase Stock">
    <table>
      <tr>
        <td>
          <div id="buyer-money"></div>
        </td>
      </tr>
      <tr>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
      </tr>
      <tr>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
      </tr>
      <tr>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
        <td>
          <button class="purchase-button jqbutton stock-count"></button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
        <td>
          <div class="purchase-cost">$100</div>
        </td>
      </tr>
    </table>
    <div id="buyer-dialog-warn">No stocks available for purchase</div>
  </div>
</div>
