<div class="wrapper">
  <div id="main_div" class="ui-helper-hidden-accessible">
    <table>
      <tr>
        <td>
        </td>
        <td>
          <div id="player-tabs">
            <ul>
              <li class="player-tab"><a href="#player-contents">Player1</a></li>
              <li class="player-tab"><a href="#player-contents">Player1</a></li>
              <li class="player-tab"><a href="#player-contents">Player1</a></li>
              <li class="player-tab"><a href="#player-contents">Player1</a></li>
              <li class="player-tab"><a href="#player-contents">Player1</a></li>
              <li class="player-tab"><a href="#player-contents">Player1</a></li>
            </ul>
            <div id="player-contents">
              <table>
                <tr>
                  <td>
                    <div class="money-text" id="player-money"></div>
                  </td>
                  <td id="player-stocks">
                    <button class="player-stock jqbutton stock-count">0</button>
                    <button class="player-stock jqbutton stock-count">0</button>
                    <button class="player-stock jqbutton stock-count">0</button>
                    <button class="player-stock jqbutton stock-count">0</button>
                    <button class="player-stock jqbutton stock-count">0</button>
                    <button class="player-stock jqbutton stock-count">0</button>
                    <button class="player-stock jqbutton stock-count">0</button>
                  </td>
                </tr>            
              </table>
            </div>
          </div>
        </td>
        <td>
          <button class="jqbutton" id="end-game">End Game</button>
        </td>
      </tr>
      <tr>
        <td>
          <table id="hotel-list">
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
            <tr><td><button class="hotel-button jqbutton stock-count"></button></td></tr>
          </table>
        </td>
        <td colspan="2">
          <div id="board">
            <table id="grid">
              <tr>
                <td><button class="grid-tile jqbutton">1A</button></td>
                <td><button class="grid-tile jqbutton">2A</button></td>
                <td><button class="grid-tile jqbutton">3A</button></td>
                <td><button class="grid-tile jqbutton">4A</button></td>
                <td><button class="grid-tile jqbutton">5A</button></td>
                <td><button class="grid-tile jqbutton">6A</button></td>
                <td><button class="grid-tile jqbutton">7A</button></td>
                <td><button class="grid-tile jqbutton">8A</button></td>
                <td><button class="grid-tile jqbutton">9A</button></td>
                <td><button class="grid-tile jqbutton">10A</button></td>
                <td><button class="grid-tile jqbutton">11A</button></td>
                <td><button class="grid-tile jqbutton">12A</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1B</button></td>
                <td><button class="grid-tile jqbutton">2B</button></td>
                <td><button class="grid-tile jqbutton">3B</button></td>
                <td><button class="grid-tile jqbutton">4B</button></td>
                <td><button class="grid-tile jqbutton">5B</button></td>
                <td><button class="grid-tile jqbutton">6B</button></td>
                <td><button class="grid-tile jqbutton">7B</button></td>
                <td><button class="grid-tile jqbutton">8B</button></td>
                <td><button class="grid-tile jqbutton">9B</button></td>
                <td><button class="grid-tile jqbutton">10B</button></td>
                <td><button class="grid-tile jqbutton">11B</button></td>
                <td><button class="grid-tile jqbutton">12B</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1C</button></td>
                <td><button class="grid-tile jqbutton">2C</button></td>
                <td><button class="grid-tile jqbutton">3C</button></td>
                <td><button class="grid-tile jqbutton">4C</button></td>
                <td><button class="grid-tile jqbutton">5C</button></td>
                <td><button class="grid-tile jqbutton">6C</button></td>
                <td><button class="grid-tile jqbutton">7C</button></td>
                <td><button class="grid-tile jqbutton">8C</button></td>
                <td><button class="grid-tile jqbutton">9C</button></td>
                <td><button class="grid-tile jqbutton">10C</button></td>
                <td><button class="grid-tile jqbutton">11C</button></td>
                <td><button class="grid-tile jqbutton">12C</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1D</button></td>
                <td><button class="grid-tile jqbutton">2D</button></td>
                <td><button class="grid-tile jqbutton">3D</button></td>
                <td><button class="grid-tile jqbutton">4D</button></td>
                <td><button class="grid-tile jqbutton">5D</button></td>
                <td><button class="grid-tile jqbutton">6D</button></td>
                <td><button class="grid-tile jqbutton">7D</button></td>
                <td><button class="grid-tile jqbutton">8D</button></td>
                <td><button class="grid-tile jqbutton">9D</button></td>
                <td><button class="grid-tile jqbutton">10D</button></td>
                <td><button class="grid-tile jqbutton">11D</button></td>
                <td><button class="grid-tile jqbutton">12D</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1E</button></td>
                <td><button class="grid-tile jqbutton">2E</button></td>
                <td><button class="grid-tile jqbutton">3E</button></td>
                <td><button class="grid-tile jqbutton">4E</button></td>
                <td><button class="grid-tile jqbutton">5E</button></td>
                <td><button class="grid-tile jqbutton">6E</button></td>
                <td><button class="grid-tile jqbutton">7E</button></td>
                <td><button class="grid-tile jqbutton">8E</button></td>
                <td><button class="grid-tile jqbutton">9E</button></td>
                <td><button class="grid-tile jqbutton">10E</button></td>
                <td><button class="grid-tile jqbutton">11E</button></td>
                <td><button class="grid-tile jqbutton">12E</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1F</button></td>
                <td><button class="grid-tile jqbutton">2F</button></td>
                <td><button class="grid-tile jqbutton">3F</button></td>
                <td><button class="grid-tile jqbutton">4F</button></td>
                <td><button class="grid-tile jqbutton">5F</button></td>
                <td><button class="grid-tile jqbutton">6F</button></td>
                <td><button class="grid-tile jqbutton">7F</button></td>
                <td><button class="grid-tile jqbutton">8F</button></td>
                <td><button class="grid-tile jqbutton">9F</button></td>
                <td><button class="grid-tile jqbutton">10F</button></td>
                <td><button class="grid-tile jqbutton">11F</button></td>
                <td><button class="grid-tile jqbutton">12F</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1G</button></td>
                <td><button class="grid-tile jqbutton">2G</button></td>
                <td><button class="grid-tile jqbutton">3G</button></td>
                <td><button class="grid-tile jqbutton">4G</button></td>
                <td><button class="grid-tile jqbutton">5G</button></td>
                <td><button class="grid-tile jqbutton">6G</button></td>
                <td><button class="grid-tile jqbutton">7G</button></td>
                <td><button class="grid-tile jqbutton">8G</button></td>
                <td><button class="grid-tile jqbutton">9G</button></td>
                <td><button class="grid-tile jqbutton">10G</button></td>
                <td><button class="grid-tile jqbutton">11G</button></td>
                <td><button class="grid-tile jqbutton">12G</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1H</button></td>
                <td><button class="grid-tile jqbutton">2H</button></td>
                <td><button class="grid-tile jqbutton">3H</button></td>
                <td><button class="grid-tile jqbutton">4H</button></td>
                <td><button class="grid-tile jqbutton">5H</button></td>
                <td><button class="grid-tile jqbutton">6H</button></td>
                <td><button class="grid-tile jqbutton">7H</button></td>
                <td><button class="grid-tile jqbutton">8H</button></td>
                <td><button class="grid-tile jqbutton">9H</button></td>
                <td><button class="grid-tile jqbutton">10H</button></td>
                <td><button class="grid-tile jqbutton">11H</button></td>
                <td><button class="grid-tile jqbutton">12H</button></td>
              </tr>
              <tr>
                <td><button class="grid-tile jqbutton">1I</button></td>
                <td><button class="grid-tile jqbutton">2I</button></td>
                <td><button class="grid-tile jqbutton">3I</button></td>
                <td><button class="grid-tile jqbutton">4I</button></td>
                <td><button class="grid-tile jqbutton">5I</button></td>
                <td><button class="grid-tile jqbutton">6I</button></td>
                <td><button class="grid-tile jqbutton">7I</button></td>
                <td><button class="grid-tile jqbutton">8I</button></td>
                <td><button class="grid-tile jqbutton">9I</button></td>
                <td><button class="grid-tile jqbutton">10I</button></td>
                <td><button class="grid-tile jqbutton">11I</button></td>
                <td><button class="grid-tile jqbutton">12I</button></td>
              </tr>

            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td id="player-tiles">
          <button class="player-tile jqbutton">Tile1</button>
          <button class="player-tile jqbutton">Tile2</button>
          <button class="player-tile jqbutton">Tile3</button>
          <button class="player-tile jqbutton">Tile4</button>
          <button class="player-tile jqbutton">Tile5</button>
          <button class="player-tile jqbutton">Tile6</button>
          <button id="swap-tiles" class="jqbutton">Swap</button>
        </td>
      </tr>      
    </table>
  </div>
</div>
