<div>
  <div class="local-player">
    <input class="player-name" type="text" />    
    <button class="move-up">/\</button>
    <button class="move-down">\/</button>
    <button class="remove-player">-</button>
    <button class="player-type"></button>
  </div>
  <div class="local-player">
    <input class="player-name" type="text" />    
    <button class="move-up">/\</button>
    <button class="move-down">\/</button>
    <button class="remove-player">-</button>
    <button class="player-type"></button>
  </div>
  <div class="local-player">
    <input class="player-name" type="text" />    
    <button class="move-up">/\</button>
    <button class="move-down">\/</button>
    <button class="remove-player">-</button>
    <button class="player-type"></button>
  </div>
  <div class="local-player">
    <input class="player-name" type="text" />    
    <button class="move-up">/\</button>
    <button class="move-down">\/</button>
    <button class="remove-player">-</button>
    <button class="player-type"></button>
  </div>
  <div class="local-player">
    <input class="player-name" type="text" />    
    <button class="move-up">/\</button>
    <button class="move-down">\/</button>
    <button class="remove-player">-</button>
    <button class="player-type"></button>
  </div>
  <div class="local-player">
    <input class="player-name" type="text" />    
    <button class="move-up">/\</button>
    <button class="move-down">\/</button>
    <button class="remove-player">-</button>
    <button class="player-type"></button>
  </div>
  <button id="add-player">+</button><br />

  <button id="start-game">Play</button>
</div>
