<div class="wrapper">
  <!-- todo - can get rid of having this hidden at start? -->
  <div id="merge-resolve-dialog" title="Resolve Merger" class="ui-helper-hidden-accessible">
    <table>
      <tr>
        <td colspan="5">
          <button id="target-resolve" class="jqbutton">0</button>
          -->
          <button id="buyer-resolve" class="jqbutton">0</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Hold</td>
        <td>Sell</td>
        <td>Trade</td>
        <td>Money</td>
      </tr>
      <tr class="resolve-row">
        <td><div class="name-resolve">name</div></td>
        <td><button class="hold-resolve jqbutton stock-count">0</button></td>
        <td><button class="sell-resolve jqbutton stock-count">0</button></td>
        <td>
          <button class="trade-in-resolve jqbutton stock-count">0</button>
          ->
          <button class="trade-out-resolve jqbutton stock-count">0</button>
        </td>
        <td><div class="money-resolve">$0</div></td>
      </tr>
      <tr class="resolve-row">
        <td><div class="name-resolve">name</div></td>
        <td><button class="hold-resolve jqbutton stock-count">0</button></td>
        <td><button class="sell-resolve jqbutton stock-count">0</button></td>
        <td>
          <button class="trade-in-resolve jqbutton stock-count">0</button>
          ->
          <button class="trade-out-resolve jqbutton stock-count">0</button>
        </td>
        <td><div class="money-resolve">$0</div></td>
      </tr>
      <tr class="resolve-row">
        <td><div class="name-resolve">name</div></td>
        <td><button class="hold-resolve jqbutton stock-count">0</button></td>
        <td><button class="sell-resolve jqbutton stock-count">0</button></td>
        <td>
          <button class="trade-in-resolve jqbutton stock-count">0</button>
          ->
          <button class="trade-out-resolve jqbutton stock-count">0</button>
        </td>
        <td><div class="money-resolve">$0</div></td>
      </tr>
      <tr class="resolve-row">
        <td><div class="name-resolve">name</div></td>
        <td><button class="hold-resolve jqbutton stock-count">0</button></td>
        <td><button class="sell-resolve jqbutton stock-count">0</button></td>
        <td>
          <button class="trade-in-resolve jqbutton stock-count">0</button>
          ->
          <button class="trade-out-resolve jqbutton stock-count">0</button>
        </td>
        <td><div class="money-resolve">$0</div></td>
      </tr>
      <tr class="resolve-row">
        <td><div class="name-resolve">name</div></td>
        <td><button class="hold-resolve jqbutton stock-count">0</button></td>
        <td><button class="sell-resolve jqbutton stock-count">0</button></td>
        <td>
          <button class="trade-in-resolve jqbutton stock-count">0</button>
          ->
          <button class="trade-out-resolve jqbutton stock-count">0</button>
        </td>
        <td><div class="money-resolve">$0</div></td>
      </tr>
      <tr class="resolve-row">
        <td><div class="name-resolve">name</div></td>
        <td><button class="hold-resolve jqbutton stock-count">0</button></td>
        <td><button class="sell-resolve jqbutton stock-count">0</button></td>
        <td>
          <button class="trade-in-resolve jqbutton stock-count">0</button>
          ->
          <button class="trade-out-resolve jqbutton stock-count">0</button>
        </td>
        <td><div class="money-resolve">$0</div></td>
      </tr>
    </table>
  </div>
</div>
