<div class="wrapper">
  <div id="merge-select-dialog" title="Choose Merger">
    <table>
      <tr>
        <td colspan="7">
          Buyer
        </td>
      </tr>
      <tr>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>
        <td>
          <button class="buyer-button jqbutton">0</button>
        </td>        
      </tr>
      <tr>
        <td colspan="7">
          Target
        </td>
      </tr>
      <tr>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
        <td>
          <button class="target-button jqbutton">0</button>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          Majority: <div id="majority-reward"></div>
          Minority: <div id="minority-reward"></div>
          Each stock: <div id="stock-reward"></div>
        </td>
      </tr>

    </table>
  </div>
</div>
