<div>
  <div id="wl-signin"></div>
  <div id="welcome" class="requires-login">Welcome <span id="player-name"></span></div>

  <button id="create-game" class="requires-login">Create Game</button>
  <button id="refresh-games" class="requires-login">Refresh</button>
  <br />
  My Pending Games
  <div id="user-games-pending" class="scroll-div"></div>
  ------<br />
  My running Games
  <div id="user-games-running" class="scroll-div"></div>
  ------<br />
  All Pending games
  <div id="all-games-pending" class="scroll-div"></div>
</div>